{
  "presets": [
    "next/babel",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": "current",
      }
    }]
  ],
  "plugins": [
    "styled-jsx-postcss/babel",
    "transform-inline-environment-variables", // inline all process.env.XXX so that they are available in FE as well
  ]
}
