#__next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Replaced elements should get font settings from its parent */
button, input {
  font-family: inherit;
  font-size: inherit;
}

/* Primary button should get white color */
.MuiButton-containedPrimary.MuiButton-containedPrimary {
  color: #fff;
}
